<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AfriqFoods</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/fetch.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
</head>
</head>

<body>

<% if(typeof user != 'undefined' && user) {  %>

 <!-- Start Nav -->

  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AfriqFoods</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 bg-dark ">
           
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./profile">Profile</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="./showcase/{{user.id}}">Showcase</a> -->
              <a class="nav-link" href="./showcase/<%= user.id %>">Showcase</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Recipes
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Nigerian dishes</a></li>
                <li><a class="dropdown-item" href="#">Foreign dishes</a></li>
                <li>
                  <hr class="dropdown-divider">   
                </li>
                <li><a class="dropdown-item" href="#">About dishes</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br><br>
 <!-- End Nav  -->





<!-- First food section  -->
<section class="mt-5 bg-light">
  <div class="container-fluid text-center text-capitalize ">
      <h4 class="text-center p-4 text-capitalize "> Popular African Recipes, You would like to Know </h4>
      <div class="row gap-3 align-items-center justify-content-center ">
        <% if(data2){ %>
         <% data2.forEach(function(data2) {  %> 
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2 ">
          <div class="card">
            <img src="/images/<%= data2.images %>" class="card-img-top img-thumbnail img-fluid"
              alt="Nsala Soup" style="min-height: 230px; max-height: 230px;">
            <div class="card-body">
              <h5 class="card-title lead"><%= data2.recipeName %></h5>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-secondary text-capitalize " data-bs-container="body"
                data-bs-toggle="popover" data-bs-placement="top"
                data-bs-content=" <%= data2.recipe_desc %>">
               food description
              </button>
            </div>
          </div>
        </div>
      <% }) %>
      <% } %>
    </div>
  </div>

  <% data2.forEach(entry => { %>
    <h1><%= entry.title %></h1>
    <p><%= entry.url %></p>
<% }) %>

<!-- <div class="break"></div> -->

<!--Display the links to the pages-->
<% if(page > 1) { %> <a class=" pb-3"style="display: block; text-align: center;" href="/?page=<%=page-1%>">Previous</a> <% } %>
<!-- <% for(let i = iterator; i <= endingLink; i++) { %> -->
    <!-- <% if(i === page) { %> -->
    <!-- <a class="selectedLink" href="/?page=<%=i%>"><%=i%></a> -->
    <!-- <% continue; %> -->
<!-- <% } %> -->
    <!-- <a href="/?page=<%=i%>"><%=i%></a>
    <% } %> -->
    <% if(page < numberOfPages) { %>   <a  class=" pb-3"style="display: block; text-align: center;" href="/?page=<%=page+1%>" class="shift">Load More</a> <% } %>

</section>
<!-- End first section  -->



 <!-- Start third section  -->
 <section class="mt-5">
  <div class="container-fluid text-center  ">
    <h4 class="text-start pt-4"> Where to eat local?</h4>
    <h5 class="lead text-start"> The best traditional places in Nigeria, recommended by food
      professionals </h5>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/images/hive.jpg" style="height: 100%;" class="img-fluid rounded-circle"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">The Hive</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/images/grubhut.jpg" style="height: 100%;" class="img-fluid rounded-circle"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">grubhut burger and foods</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/images/afric.jpg" style="height: 100%;" class="img-fluid "
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> L'Afric </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="mb-5"></p>
    </div>
    <!-- END third section  -->




 <!-- Start Footer section -->
 <section class="mt-5 footer">

  <footer class="text-center text-white" style="background-color: #151618;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center pb-5 p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      ©<script>document.write(new Date().getFullYear())</script> :
      <a class="text-white" href="/">AfriqFoods.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- End Footer -->


  <% } else { %>


 <!-- Start Nav -->

 <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AfriqFoods</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
           <a class="nav-link" href="./login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="./profile">My Profile</a>
          </li>       
        </ul>
      </div>
    </div>
  </div>
</nav>

 <!-- End Nav -->

<!-- First food section  -->
<section class="mt-5 bg-light">
  <div class="container-fluid text-center text-capitalize ">
      <h4 class="text-center p-4 text-capitalize "> Popular African recipes, you would love to Know </h4>
      <div class="row gap-3 align-items-center justify-content-center ">
      
        <% if(data){ %>
         <% data.forEach(function(data) {  %> 
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-2 ">
          <div class="card">
            <img src="/images/<%= data.images %>" class="card-img-top img-thumbnail img-fluid"
              alt="Nsala Soup" style="min-height: 230px; max-height: 230px;">
            <div class="card-body">
              <h5 class="card-title lead"><%= data.recipeName %></h5>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-secondary btn-sm text-capitalize " data-bs-container="body"
                data-bs-toggle="popover" data-bs-placement="top"
                data-bs-content=" <%= data.recipe_desc %>">
                food description
              </button>
            </div>
          </div>
        </div>
      <% }) %>
      <% } %>
      <!-- <a href="#" id="load">Load More</a> -->
    </div>
  </div>

  <% data.forEach(entry => { %>
    <h1><%= entry.title %></h1>
    <p><%= entry.url %></p>
<% }) %>

<!--Display the links to the pages-->
<% if(page > 1) { %> 
<a class=" pb-3"style="display: block; text-align: center;" href="/?page=<%=page-1%>">Previous</a>
 <% } %>

<% if(page < numberOfPages) { %>   
  <a  class=" pb-3"style="display: block; text-align: center;" href="/?page=<%=page+1%>" class="shift">Load More</a>
 <% } %>


</section>

<!-- End first section  -->



 <!-- Start third section  -->
 <section class="mt-5">
  <div class="container-fluid text-center  ">
    <h4 class="text-start pt-4"> Where to eat local?</h4>
    <h5 class="lead text-start"> The best traditional places in Nigeria, recommended by food
      professionals </h5>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/images/hive.jpg" style="height: 100%;" class="img-fluid rounded-circle"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">The Hive</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/images/grubhut.jpg" style="height: 100%;" class="img-fluid rounded-circle"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">grubhut burger and foods</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
         
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/images/afric.jpg" style="height: 100%;" class="img-fluid "
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> L'Afric </h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="mb-5"></p>
    </div>
    <!-- END third section  -->


 <!-- Start Footer section -->
 <section class="mt-5 footer">

  <footer class="text-center text-white" style="background-color: #151618;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">

        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a class=" btn btn-secondary btn-rounded text-color-white" href="./register"> Sign up!
          </a>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center pb-5 p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">AfriqFoods.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- End Footer -->


  <% }  %> 




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
  crossorigin="anonymous"></script>
<script>
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
</script>

</body>

</html>